<section class="reading-list-empty-notice" style="background: url(<%= @cool_background_url %>);background-repeat:no-repeat;background-size:cover;background-position-y: bottom;">
  <p>
    There's nothing here yet! Use the ⭐️ icon while browsing to add books to your reading list.
  </p>
  <p> &nbsp</p>
  <p>
    <%= link_to 'Browse Books', books_path %>
  </p>
</section>
