// Colors
$blue: #1565c0;
$blue-light: #3b83d5;
$gray: #333;
$white: #fff;

// Font Colors
$font-color--base: $gray;
$action-color: $blue;
$action-color--alt: $blue-light;
$action-color--contrast: $white;

// Background Colors
$viewport-background-color: $white;

// New Theme
$blue: #BCD3F2;
$blue-20: rgba(188,211,242,0.2);
$blue-40: rgba(188,211,242,0.4);
$blue-80: rgba(188,211,242,0.8);
$yellow: #F8D545;
$yellow-45: rgba(248,213,69,0.45);
$yellow-65: rgba(248,213,69,0.65);
$yellow-80: rgba(248,213,69,0.8);
$yellow-90: rgba(248,213,69,0.9);
$red: #F8333C;
$red-80: rgba(248,51,60,0.8);
$green: #66FFCC;
$green-25: rgba(102,255,204,0.25);
$green-40: rgba(102,255,204,0.4);
$green-80: rgba(102,255,204,0.8);
$dark-gray: #333745;

:root {
  // Typography
  @import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@300;400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
  --font-family: 'Rubik', system-ui, sans-serif;
  --font-family--heading: var(--font-family);
  --font-family--serif: 'Vollkorn', serif;
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;

  // Line heights
  --line-height: 1.5;
  --line-height--heading: 1.2;

  // Other Sizes
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;

  // Borders
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;

  // Focus
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #{$action-color};

  // Animations
  --duration: 150ms;
  --timing: ease;
}
