<div class="bmr-footer">
  <div><%= link_to 'How It Works', about_path %></div>
  <div>Contact</div>
  <div>Terms</div>
  <div>Privacy Policy</div>
  <div class="bottom-title">Better Morning Reading</div>
<div>
