<div class="bmr-footer">
  <div><%= link_to 'How It Works', about_path %></div>
  <div><%= link_to 'Contact', contact_path %></div>
  <div><%= link_to 'Terms', terms_path %></div>
  <div><%= link_to 'Privacy Policy', privacy_path %></div>
  <div class="bottom-title">Better Morning Reading</div>
<div>
