<div class="home-content">
  <%= link_to new_user_registration_path, class: 'home-title-link' do %>
    <h1 class="home-title">Start each day with a new chapter in your email.</h1>
  <% end %>
  <div id="react-app-home-email-window"></div>
  <div><%= link_to 'Sign Up', new_user_registration_path, class: "sign-up-button" %></div>
</div>
<%= javascript_pack_tag 'email_window' %>
