<div class="empty-subscription">
  <h2>You are not currently reading a book</h2>
  <% if @user.exhausted_free_account? %>
    <p>Thanks for trying Better Morning Reading! Please become a member to continue reading.</p>
  <% else %>
    <div>
      <div class="empty-book-icon">ðŸ“–</div>
      <div><%= link_to 'Browse collection to start a new book âž¡ï¸', books_path %></div>
    </div>
  <% end %>
</div>
