<details open>
  <summary>Reading history</summary>
  <% if @history.empty? %>
    <p>You haven't finished any books yet.</p>
  <% else %>
    <p>Total books read: <%= @history.length %><p>
    <% @history.each do |history| %>
      <p><%= history[:name] %> (<%= history[:date] %>)</p>
    <% end %>
  <% end %>
</details>
