<details open>
  <summary>Reading history</summary>
  <% if @past_subscriptions.empty? %>
    <p>You haven't finished any books yet.</p>
  <% else %>
    <p>Total books read: <%= @past_subscriptions.length %><p>
    <% @past_subscriptions.each do |subscription| %>
      <p><%= subscription.book.name %> (<%= subscription.updated_at.strftime "%m/%d/%Y" %>)</p>
    <% end %>
  <% end %>
</details>
