.current-user-show {
  display: flex;
  min-height: 600px;
  margin-top: -12px;

  .profile-pane {
    background-color: $blue-20;
    padding: 12px;
    width: 240px;
    margin: 0 8px 8px 0;
    border-radius: 3px;
  }

  .profile-wrap {
    overflow-wrap: break-word;
  }

  .subscription-pane {
    background-color: $blue-20;
    padding: 12px;
    margin: 0 0 8px 8px;
    border-radius: 3px;
    width: 100%;

    summary {
      font-weight: 500;
    }
  }

  .empty-subscription {
    text-align: center;
  }

  .empty-book-icon {
    bottom: 20px;
    font-size: 174px;
    height: 200px;
    opacity: 0.15;
    position: relative;
  }

  .progress-container {
    margin-bottom: 24px;
  }

  .progress-box {
    display: flex;
    flex-wrap: wrap;
  }

  .chapter-box {
    border: 1px dashed $dark-gray;
    margin-bottom: 0;
    padding-left: 2px;
    padding-top: 3px;
    width: 130px;
  }

  .book-details {
    margin-bottom: 24px;
    text-align: center;

    .cover-image {
      max-width: 300px;
    }
  }

  .schedule {
    text-align: center;
  }
}

.notice, .alert {
  text-align: center;

  &.dismissed {
    display: none;
  }
}

.notice {
  background-color: $green-80;
}

.alert {
  background-color: $red-80;
  margin-top: -12px;
}
