.bmr-footer {
  background-color: $dark-gray;
  border-top: 1px dashed $yellow;
  color: #fff;
  font-family: sans-serif;
  min-height: 350px;
  padding: 60px 0 4px;
  text-align: center;

  .bottom-title {
    margin-top: 36px;
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: $yellow;
    }
  }
}

@media (max-device-width: 812px) {
  .bmr-footer {
    padding: 160px 0 4px;
    a, p {
      font-size: 3rem;
      margin-bottom: 0;
    }
  }

  .bottom-title {
    font-size: 2rem;
    padding-top: 120px;
  }


}
