footer {
  background-color: $dark-gray;
  color: #fff;
  font-family: system-ui;
  height: 160px;
  padding-top: 60px;
  text-align: center;
}

.footer {
  border-top: 1px dashed $yellow;
}

.bottom-title {
  top: 84px;
  position: relative;
}
