.home-title {
  color: #102542;
  font-family: var(--font-family--heading);
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin: 0;
  text-align: center;
}

.home-title-link {
  text-decoration: none;
}

.home-content {
  background-size: cover;
  margin-top: -12px;
  padding-top: 22px;
  width: 100%;
}

.get-started-form {
  display: flex;
  justify-content: center;
}

.get-started-button {
  color: white;
  text-shadow: 0.5px 0.5px $dark-text;
  font-family: var(--font-family--heading);
  height: 40px;
  margin-left: 0.5rem;
}

.get-started-input {
  text-align: center;
  height: 40px;
  width: 300px;
}

.sign-up-button {
  background: $red;
  background: linear-gradient(0deg, $red -80%, $yellow 100%);
  border-radius: 100%;
  box-shadow: 50px 50px 15px rgba(0, 0, 0, 0.25);
  color: $dark-gray;
  display: block;
  font-family: 'Rubik';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  padding-top: 48px;
  height: 124px;
  width: 124px;
  margin: 0 auto;

  &:hover {
    background: linear-gradient(0deg, $red -90%, $yellow 100%);
    color: black;
  }
}

.sign-up-button-container {
  margin-top: 8px;
}

.book-display-container {
  background: $blue-95;
  border-top: 1px dashed $blue;
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  max-width: 100%;
}

.book-display {
  max-width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 40px 0 40px;
}

.book-display-title {
  text-shadow: 0.25px 0.25px #bbb;
  font-size: 1.75rem;
  margin-top: 52px;
  text-align: center;
}

.book-thumbnail {
  box-shadow: 8px 8px 15px 0px rgba(97,97,97,0.82);
  margin: 0 16px;
}

.books-link-container {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}

.book-display-link {
  color: #102542;
  border: 3px solid #102542;
  text-decoration: none;
  font-weight: 600;
  padding: 12px;
  border-radius: 2px;

  &:hover {
    background-color: $yellow;
    color: #102542;
    border: 3px solid $yellow;
  }
}

.home-about {
  background-color: $yellow-65;
  padding: 1rem;

  h1 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  h4 {
    font-size: 1rem;
  }

  .salutation {
    text-align: center;
  }

  .content {
    max-width: 800px;
    margin: 0 auto;
  }

  @media (max-device-width: 812px) {
    h1 {
      font-size: 4rem;
    }

    p, h4 {
      font-size: 2rem;
    }
  }
}

@media (max-device-width: 812px) {
  .home-title {
    font-weight: 500;
    font-size: 106px;
    line-height: 120px;
    margin-bottom: 48px;
    margin-top: 48px;
  }

  .sign-up-button-container {
    margin-top: 150px;
  }

  .sign-up-button {
    font-size: 48px;
    height: 224px;
    padding-top: 96px;
    width: 224px;
  }

  .get-started-form {
    flex-direction: column;
  }

  .get-started-input {
    font-size: 54px;
    height: inherit;
    padding: 36px 0;
    width: 100%;
  }

  .get-started-button {
    font-size: 64px;
    height: inherit;
    margin: 0;
    padding: 32px;
  }
}
