.bmr-icon {
  background-image: image-url('icon.svg');
  background-size: cover;
  display: inline-block;
  height: 60px;
  width: 60px;
}

@media (max-device-width: 812px) {
  .bmr-icon {
    height: 120px;
    width: 120px;
  }
}
