.reading-list-show {
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -12px;
  min-height: 400px;
  padding: 24px;

  .title {
    text-align: center;
  }

  .results-notice {
    text-align: center;
  }

  .quick-filters-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .quick-filter-link {
    background-color: $yellow-90;
    border-radius: 3px;
    color: $dark-gray;
    margin: 0 0 0.5rem 1rem;
    padding: 6px;
    text-decoration: none;

    &:hover {
      background-color: $yellow-80;
    }
  }

  .account-notice {
    background-color: $yellow-90;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 940px;
    padding: 4px 0;
  }

  .book-query-form {
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 466px;
  }

  .book-query-input {
    background-color: #ffffff;
    padding-right: 105px;
  }

  .book-query-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: $yellow;
    color: $dark-gray;
    height: 34px;
    position: absolute;
    right: 1px;
    top: 1px;
    line-height: 1px;
  }

  .books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .book-card {
    align-items: center;
    border: 1px dashed $dark-gray;
    border-radius: 3px;
    display: flex;
    margin: 10px;
    min-height: 267px;
    padding: 12px 8px;
    position: relative;
    width: 400px;

    .book-favorite-link {
      font-size: 20px;
      position: absolute;
      left: 10px;
      text-decoration: none;
      top: 8px;
    }

    .book-remove-link {
      color: $red;
      font-size: 20px;
      text-decoration: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      border-top: 1px dashed black;
      left: 0;
    }


    .book-favorite-alert {
      animation: fadeIn ease 0.35s;
      background-color: #dff0d8;
      border: 1px solid #d6e9c6;
      border-radius: 2px;
      box-shadow: 1px 1px 0px 0px rgb(33, 97, 97 / 67%);
      color: #468847;
      font-size: 14px;
      left: 10px;
      padding: 4px 22px 4px 4px;
      position: absolute;
      top: 8px;
    }

    .close-favorite-alert {
      position: absolute;
      right: 2px;
      top: -4px;
      cursor: pointer;
    }

    .book-card-left {
      margin-right: 1em;
      text-align: right;
      width: 50%;
    }

    .book-card-right {
      margin-left: 1em;
      width: 50%;
    }

    .book-image {
      box-shadow: 8px 8px 15px 0px rgba(97, 97, 97, 0.82);
      height: 175px;
    }

    .book-name {
      margin-bottom: 0;
    }

    .author {
      margin-bottom: 12px;
    }

    .card-detail {
      font-size: 12px;
    }

    .amazon-link {
      position: absolute;
      bottom: 1px;
      font-size: 12px;
      right: 1px;
    }

    .amazon-link[target="_blank"]::after {
      content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
      margin: 0 3px 0 5px;
    }

    .card-action-button {
      background: $slime-green-50;
      color: $dark-gray;
      display: block;
      font-weight: var(--font-weight--medium);
      margin: 0 0 8px;
      text-decoration: none;
      width: 140px;
      text-align: center;
      border-radius: 2px;
      padding: 4px;

      &:hover {
        background: $slime-green-75;
        color: $dark-gray;
      }
    }

    .card-action-button.amazon {
      background: none;
    }
  }

  .reading-list-empty-notice {
    border-radius: 6px;
    font-size: 36px;
    line-height: 60px;
    padding: 30px 100px;
    text-align: center;
  }

  @media (max-device-width: 812px) {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }

    .reading-list-empty-notice p {
      font-size: 64px;
      line-height: 80px;
      padding: 30px 100px;
    }

    .book-query-form {
      margin: inherit;
      width: inherit;
    }

    .book-query-button {
      height: 73px;
      font-size: 1.5rem;
    }

    .book-card {
      flex-direction: column;
      padding: 24px 8px;
      width: 100%;

      .book-remove-link {
        font-size: 48px;
      }

      .book-card-left,
      .book-card-right {
        text-align: center;
        width: 100%;
      }

      .book-image {
        height: 350px
      }

      .author, .card-detail, .results-notice, .account-notice {
        font-size: 2rem;
      }

      .card-detail {
        margin-bottom: 2rem;
      }

      .card-action-button {
        height: 200px;
        margin: 24px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        width: 95%;
      }

      .amazon-link {
        font-size: 30px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
