.registrations-new {
  display: flex;
  margin-top: -12px;

  .details-list {
    margin-bottom: 16px;
  }

  .form-actions {
    text-align: center;
  }

  .new-session-submit {
    background-color: transparent;
    border: 3px solid $dark-gray;
    border-radius: 100%;
    color: $dark-gray;
    display: block;
    font-weight: var(--font-weight--medium);
    height: 76px;
    margin: 0 auto;
    position: relative;
    padding-left: 7px;
    padding-top: 12px;
    text-decoration: none;
    width: 76px;

    &:hover {
      background: linear-gradient(0deg, $red -160%, $yellow 100%);
      color: $dark-gray;
    }
  }

  .sign-in-title {
    text-align: center;
  }

  .left-panel, .right-panel {
    width: 50%;
    min-height: 700px;
  }

  .left-panel {
    background-image: image-url('book-stacks.jpg');
    background-size: cover;
  }

  .right-panel {
    background-color: $green-40;
    padding: 16px;
  }

  .errors-container {
    background-color: $yellow-65;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 8px;
  }
}

