#stripe-modal {
  background-color: $blue-80;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

#close-stripe-modal {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 3px;
  top: 2px;
}

.stripe-modal-hidden {
  display: none;
}

.stripe-form-container {
  background-color: #ffffff;
  border-radius: 3px;
  color: #000;
  margin: 100px auto 0 auto;
  max-width: 550px;
  padding: 24px;
  position: relative;
}

.stripe-submit-button {
  display: block;
  margin: 12px auto 0;
}

.stripe-radio {
  margin-bottom: 16px;
  text-align: center;
}

#stripe-checkout {
  margin-bottom: 24px;
  text-align: center;
}

.MyCardElement, .stripe-name {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.stripe-name {
  color: #32325d;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  &::placeholder {
    color: #32325d;
  }
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-metadata {
  display: none;
}

#new_stripe_customer_subscription {
  display: none;
}

button.disabled, button.disabled:hover {
  background-color: darkgray;
  cursor: not-allowed;
}

@media (max-device-width: 812px) {
  #stripe-open {
    display: block;
    font-size: 2rem;
    margin: 1rem auto 0;
  }

  .stripe-form-container {
    max-width: 90%;

    #stripe-checkout {
      font-size: 4rem;
    }

    #close-stripe-modal {
      font-size: 3rem;
      right: 7px;
      top: 1px;
    }

    .stripe-radio {
      font-size: 2rem;
      margin-top: 5rem;

      input {
        min-width: 2rem;
        min-height: 2rem;
        position: relative;
        top: 4px;
      }
    }

    #card-element {
      height: 66px;
      margin-bottom: 1rem;
    }

    .stripe-name {
      font-size: 36px;
      height: 66px;
      margin-bottom: 1.5rem;
      &::placeholder {
        font-size: 36px;
      }
    }

    .stripe-submit-button {
      font-size: 3rem;
      border-radius: 3px;
      padding-bottom: 18px;
      padding-top: 18px;
      width: 100%;
    }
  }
}
