.subscription-new, .subscription-edit {
  background-color: rgba(238, 238, 238, 0.5) !important;
  background-image: url('glasses.jpg');
  background-blend-mode: color;
  background-size: cover;
  margin-top: -12px;
  padding: 24px 0;

  .errors-container {
    background-color: $red;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 8px;
  }

  #new_subscription, .edit_subscription {
    background-color: $blue-80;
    border-radius: 3px;
    margin: 0 auto;
    padding: 24px;
    position: relative;
    width: 500px;
  }

  .new-subscription-inputs-container {
    align-items: center;
    display: flex;
    justify-content: center;

    .book-image {
      margin-right: 12px;
      img {
        max-height: 250px;
      }
    }

    .form-inputs {
      margin-left: 12px;
    }
  }

  .book-details {
    text-align: center;
  }

  .detail {
    font-size: 16px;
    text-align: center;
  }

  #new-subscription-submit {
    background-color: transparent;
    border: 3px solid $dark-gray;
    border-radius: 100%;
    bottom: 30px;
    color: $dark-gray;
    display: block;
    font-weight: var(--font-weight--medium);
    height: 90px;
    margin: 0 auto;
    padding-left: 23px;
    padding-top: 14px;
    text-decoration: none;
    width: 90px;

    &:hover {
      background: linear-gradient(0deg, $red -160%, $yellow 100%);
      color: $dark-gray;
    }
  }

  .now-label {
    display: inline;
  }

  .subscription_now {
    margin-bottom: 16px;
    text-align: center;
  }

  .full-access-notice {
    display: block;
    position: relative;
    text-align: center;
    top: 20px;
  }
}
