@charset "utf-8";

@import "normalize.css/normalize";

@import "bourbon";

@import "base/base";
@import "header";
@import "footer";
@import "stripe";
@import "email_window";
@import "home";
@import "current_user";
@import "books";
@import "subscriptions";
@import "sessions";
@import "registrations";
@import "icon";
@import "passwords";
@import "confirmations";
@import "contact_messages";
@import "clubs";

@media (max-device-width: 812px) {
  h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  label, input, a, .alert, .notice {
    font-size: 3rem;
  }

}
